@import "../utils/shadow.scss";
@import "../utils/hover.scss";

.Explorer
{
    text-align: center;
    &--btn
    {
        background: linear-gradient(179deg, #9356DC 0%, #FF79DA 100%);
        border:none;
        color:white;
        padding: 10px 15px;
        border-radius: 25px;
        font-size: 16px;
        @include box-shadow;
        margin-top: 10px;
    }   
    &--btn:hover{
        @include zoom;
    
    }
}