@import "../composants/shadow.scss";
@import "../utils/hover.scss";

.Explorer
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
    &--btn
    {
        box-shadow: 0 2px 8px rgba(0,0,0,.421);
        background: linear-gradient(179deg, #9356DC 0%, #FF79DA 100%);
        border:none;
        color:white;
        padding: 15px 21px;
        border-radius: 25px;
        font-size: 16px;
        margin-top: 25px;
        transition:  1s;
    }   
    &--btn:hover{
        @include zoom;
    
    }
}